.client-id::after {
    content: "| UI-Tweaks by Preston";
    color: #e74c3c;
    font-weight: bold;
    margin-left: 6px; 
}

body.policechief {
    background: #1e2124
}

.mk-map-view * {
    border-radius: 20px;
}

div.panel-heading {
    background: #36393e;
    color: #ffffff;
}

#main_navbar {
    margin: 10px;
    border-radius: 15px;
}

.alert {
    border-radius: 10px;
    border-width: 3px;
    background-color: transparent !important;
}

body #missions_outer,
body #buildings_outer,
body #chat_outer,
body #radio_outer {
    background-color: transparent !important;
}

body .panel-default {
    border-radius: 5px;
}

.navbar-brand {
    display: none;
}

.input-group-addon[for="alliance_chat_message"] {
    display: none;
}
