.client-id::after {
    content: "| UI-Tweaks by Preston";
    color: #e74c3c;
    font-weight: bold;
    margin-left: 6px; 
}

.mk-map-view * {
    border-radius: 20px;
}

.panel-heading {
    background: #36393e;
    color: #ffffff;
}