.client-id::after {
    content: "| UI-Tweaks by Preston";
    color: #e74c3c;
    font-weight: bold;
    margin-left: 6px; 
}

body.policechief {
    background: #1e2124
}

.mk-map-view * {
    border-radius: 20px;
}

div.panel-heading {
    background: #36393e;
    color: #ffffff;
}

#main_navbar {
    margin: 10px;
    border-radius: 15px;
}

a {
  align-items: center;
  background-color: rgba(240, 240, 240, 0.26);
  border: 1px solid #DFDFDF;
  border-radius: 16px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 18px;
  justify-content: center;
  line-height: 28px;
  max-width: 100%;
  padding: 14px 22px;
  text-decoration: none;
  transition: all .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

a:active,
a:hover {
  outline: 0;
}

a:hover {
  background-color: #FFFFFF;
  border-color: rgba(0, 0, 0, 0.19);
}
